{% macro show(active_page) %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">chatty-pie</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{ 'active' if active_page == 'accounts' else '' }}"><a href="/accounts/list">All accounts</a></li>
                    <li class="{{ 'active' if active_page == 'rooms' else '' }}"><a href="/rooms/list">All rooms</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endmacro %}
