<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">chatty-pie</a>
            <ul class="nav">
                <li><a href="/accounts/list">All accounts</a></li>
                <li class="active"><a href="/rooms/list">All rooms</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h1>Chatrooms</h1>
    <table class="table table-striped">
        {% for chatroom in chatrooms %}
            <tr>
                <td><a href="/rooms/view?id={{ chatroom.key.urlsafe() }}">{{ chatroom.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
{% endautoescape %}
