<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    {% include 'templates/includes/style-bootstrap.html' %}
    <style type="text/css">
        .message-bubble {
            padding: 10px 0px 10px 0px;
        }

        .message-bubble:nth-child(even) {
            background-color: #F5F5F5;
        }

        .message-bubble > * {
            padding-left: 10px;
        }

        .panel-heading {
            font-size: xx-large;
            background-color: #1759a7 !important;
            color: white !important;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">chatty-pie</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/accounts/list">All accounts</a></li>
                <li><a href="/rooms/list">All rooms</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        {# This chatroom style comes from http://bootsnipp.com/snippets/40W9n #}
        <div class="col-md-8" id="posts">
            <div class="panel panel-default">
                <div class="panel-heading">
                    #{{ room_name }}
                    <span title="status of this room"
                          class="label label-{{ "success" if room_status == "active" else "danger" }}">{{ room_status }}</span>
                </div>
                <div class="panel-body">
                    {% if not posts and room_status == "active" %}
                        <div class="alert alert-info">
                            <strong>Welcome!</strong> There are no posts yet. Add some with:
                            <pre>
curl -X POST --data\
    '{"user_email": "user@email.com", "content": "my post"}'\
  [host]/rooms/{{ room_id }}/posts -i</pre>
                        </div>
                    {% elif room_status != "active" %}
                        <div class="alert alert-danger">
                            This room is suspended. No new posts are allowed. Re-activate this room with:
                            <pre>
curl -X PUT --data\
    '{"status": "active", "type": "{{ room_type }}"}'\
  [host]/rooms/{{ room_id }} -i</pre>
                        </div>
                    {% endif %}

                    {% for post in posts %}
                        <div class="row message-bubble">
                            <p class="text-muted">{{ post.user_email }} on {{ post.date }}</p>
                            <span>{{ post.content|safe }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4" id="users-that-can-post">
            <h2>Users that can post</h2>
            {% if not users %}
                <div class="alert alert-warning">
                    No users are allowed to post to this chatroom yet. Assign some with:
                    <pre>curl -X PUT --data\
'{"email": "x@y.ca", "canSeeAllHistory": true}'\
[host]/rooms/{{ room_id }}/users -i</pre>
                </div>
            {% endif %}
            <table class="table table-striped">
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>
{% endautoescape %}
