<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">chatty-pie</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/accounts/list">All accounts</a></li>
                <li><a href="/rooms/list">All rooms</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Welcome to room #{{ room_name }}</h1>
    <div class="row">
        <div class="col-md-8" id="posts">
            <h2>Posts</h2>
            {% if not posts %}
                <div class="alert alert-info">
                    <strong>Welcome!</strong> There are no posts yet. Add some with:
                    <pre>
curl -X POST --data\
    '{"user_email": "user@email.com", "content": "my post"}'\
  [host]/rooms/{{ room_id }}/posts -i</pre>
                </div>
            {% endif %}

            {% for post in posts %}
                <div class="row">
                    {{ post.content|safe }}
                    <br>
                    by {{ post.user_email }} on {{ post.date }}
                </div>
                <hr style="border-bottom: dashed">
            {% endfor %}
        </div>
        <div class="col-md-4" id="users-that-can-post">
            <h2>Users that can post</h2>
            {% if not users %}
                <div class="alert alert-warning">
                    No users are allowed to post to this chatroom yet. Assign some with:
                    <pre>curl -X PUT --data\
'{"email": "x@y.ca", "canSeeAllHistory": true}'\
[host]/rooms/{{ room_id }}/users -i</pre>
                </div>
            {% endif %}
            <table class="table table-striped">
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>
{% endautoescape %}
