<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">chatty-pie</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/accounts/list">All accounts</a></li>
                <li><a href="/rooms/list">All rooms</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Chatrooms in account #{{ account_id }}</h1>
    {% if not chatrooms %}
        <div class="row alert alert-info">
            No rooms exist for this account! Create some with:
            <pre>curl -X PUT --data '{"name": "my-room"}' [host]/accounts/{{ account_id }}/rooms -i</pre>
        </div>
    {% endif %}
    <table class="table table-striped">
        {% for chatroom in chatrooms %}
            <tr class="row">
                <td><a href="/rooms/view?id={{ chatroom.key.urlsafe() }}">{{ chatroom.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
{% endautoescape %}
